{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags|escape }}" />
<meta name="keywords" content="{{ article.tags|join(', ')|escape }}">

{% if article.translations -%}
<link rel="alternate" href="{{ SITEURL }}/{{ article.url }}" hreflang="{{ article.lang }}" />
{% for a in article.translations %}
<link rel="alternate" href="{{ SITEURL }}/{{ a.url }}" hreflang="{{ a.lang }}" />
{% endfor %}
{% endif %}

{% include "partial/og_article.html" %}
{% endblock %}

{% block title %} &ndash; {{ article.title|striptags|escape }}{% endblock %}

{% block content %}
<article>
  <div class="article-header">
    <h1 class="article-title">{{ article.title }}</h1>
    <div class="article-meta">
      <a class="post-category" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      <span>{{ article.locale_date }}</span>
      {% if PLUGINS and 'post_stats' in PLUGINS %}
        <span class="post-dot">&middot;</span>
        <span>{{ article.stats['read_mins'] }} min read</span>
      {% endif %}
      <span class="post-dot">&middot;</span>
      <span>{{ article.author }}</span>
    </div>
  </div>

  <div class="article-content">
    {{ article.content }}
  </div>

  <div class="tag-cloud">
    <p>
    {% if article.tags %}
      {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
    {% endif %}
    </p>
  </div>

  {% include "partial/neighbors.html" %}

  {% if article.related_posts %}
  <div class="related-posts">
    <h4>You might enjoy</h4>
    <ul>
    {% for related_post in article.related_posts %}
      <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% include "partial/disqus.html" %}
  {% include "partial/isso.html" %}
</article>
{% endblock %}
